
.add-button{
    width: 100%;
    margin:1vh auto;
    margin-top:0;
    background-color: white;
    height:50px;
    color:var(--color);
    border:none;
    border-radius:10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.add-button>mat-icon{
  color:var(--color)
}
.add-button:hover{
    background-color: purple;
}
h2{
    color:var(--color);
    font-size: medium;
}
main{
    background-color:var(--background-color);
    padding:0 5vw;
    height: 100%;;
}
table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    padding:20px;
    background-color: white
  }
tbody{
    border-radius: 20px;
}

  th, td {
    border: 2px solid none;
    padding: 8px;
    color:var(--color)
  }

  th {
    background-color: var(--color);
    text-align: center;
    padding:20px;
  }
  td{
    background-color: white;
    color:black;
    text-align: center;
    padding:0;
    margin:0;
    font-size:small
  }

  td img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin:5px 0;
  }

  td.status-pending {
    color: red;
  }

  td.status-complete {
    color: green;
  }

  .problem-form{
    background-color: white;
    border-radius: 20px;
    padding:20px;
    height: fit-content;
    box-shadow: var(--box-shadow);

  }
  form>button{
    width:30%;
    border:none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color);
    color:white;
    height: 40px;
    margin-left:60%;
}
mat-form-field{
    margin:20px;

}
mat-icon{
  background-color: none;
  color:white;
}
mat-form-field>input{
    background-color:var(--color)!important;
    color:var(--color)!important;
}
.file-input{
    margin-left:20px;
}



.preview-image>img{
    width:300px;
    height: 300px;
    border-radius: 10px;
}


/* css for reporting the problem */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.downer{
  display: flex;
  flex-direction: row;
  margin:20px 0;
  margin-bottom: 10px !important;
  background-color: white;
}
.downer>button{
  align-self:flex-end;
  background-color: white;
  border:1px solid #884A39;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}


.image-upload input[type="file"] {
  display: none;
}
.location{
  display:flex;
  flex-direction:column;
  border-radius:10px;
}
.iconer{
  background-color:white;
  font-size: 26px;
  color: var(--color)
}
.submit{
  display:flex;
  flex-direction: row-reverse;
}
.buttoner, .buttoner2{
  color:var(--color);
  background-color:white;
}
.buttoner>mat-icon{
  color:var(--color);
}
.buttoner2>mat-icon{
  color:red;
}
.submit>button{
  border-radius:20px;
  width:40%;
}

.iconer>mat-icon{
  color:var(--color)
}
.image-upload{
  background-color: white;
  margin-right: 10px;
}
.downer{
  background-color: white;
}
.image-preview>img{
  width: 300px;
  height:300px;
}
.demoiser{
  color:black;

}


.report{
  border-radius: 20px;
  background-color: white;
  ;
}
.report>select{
  background-color: white;
  color:var(--color);
  border-radius: 10px;
  border:1px solid var(--color);
  width: 100%;
  height: 40px;
  margin:20px 0;
}
.report-form{
  background-color: white;
  border-radius: 20px;
  padding:20px;
  height: fit-content;
  box-shadow: var(--box-shadow);
  width: 80vw;
}
.report-form>img{

}
