<main>
    <img class="upper-logo" src="assets/dawasa2.png"/>
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="custom-input">
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="custom-input">
      </div>
  
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="/registration">Dont have an account? Register here</a>
    </form>
  </main>
  