<h2>Messages</h2>

<main>
  <div class="all">
    <div *ngFor = "let messages of messages" class="one" (click)="displayMessage(messages)">
      <div class="image">
        <mat-icon>message</mat-icon>
      </div>
      <div class="content">
        <h4>{{messages.header}}</h4>
        <h4>{{messages.createdAt | date:'EEEE, MMMM d YYYY HH:mm' }}</h4>
      </div>
    </div>

  </div>
  <div class="line"></div>
  <div class="single">
    <h4>{{selectedMessageHeader}}</h4>
    <p>{{ selectedMessageContent }}</p>

  <form (submit)="sendReply()" class="reply">

    <input type="text" [(ngModel)]="reply" placeholder="Reply">
    <button (click)="sendReply()">Send</button>
  </form>
  </div>
</main>
