<div class="problem">

</div>
<div class="dash">
<div class="anouncements">
  <div class="anouncement">
    <div class="anouncement-title">
      <h3>Announcements</h3>
    </div>
    <div class="anouncement-body">
      <div class="anouncement-content">
        <div class="anouncement-content-title">
          <h4>Announcement Title</h4>
        </div>
        <div class="anouncement-content-body">
          <p>Announcement Body</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="notifications">
  <div class="notification">
    <div class="notification-title">
      <h3>Notifications</h3>
    </div>
    <div class="notification-body">
      <div class="notification-content">
        <div class="notification-content-title">
          <h4>Notification Title</h4>
        </div>
        <div class="notification-content-body">
          <p>Notification Body</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="dash">
  <div class="problem-status">
    <div class="problem-status-title">
      <h3>Problem Status</h3>
  </div>
  </div>
  <div class="profile">
    <div class="profile-title">
      <h3>Profile</h3>
    </div>
    <div class="profile-body">
      <div class="profile-content">
        <div class="profile-content-title">
          <h4>Profile Titl</h4>
        </div>
        <div class="profile-content-body">
          <p>Profile Body</p>
        </div>
      </div>
    </div>
  </div>
</div>
