<main>
   <h2> Problem Details</h2>
    <div class="details">

        <div class="details-body">
            <div class="details-body-left">
                <div class="details-body-left-image">
                    <img src="{{ problem.imageSrc }}" alt="Problem Image">
                </div>

            </div>
            <!-- <div class="details-body-right">
              <div class="details-body-right-description">
                <h2>Description</h2>
                <p>{{ problem.description }}</p>
            </div>
                <div class="details-body-right-status">
                    <h2>Status</h2>
                    <p> {{ problem.status }}</p>
                </div>
                <div class="details-body-right-reported-by">
                    <p> {{ problem.reportedBy?.name }}</p>
                </div>
                <div class="details-body-right-reported-by">
                  <p>Contacts: {{ problem.reportedBy?.phoneNumber }}</p>
              </div>
                <div class="details-body-right-reported-at">
                    <p>Reported At: {{ problem.location   }}</p>
                </div>
            </div> -->
        </div>
    </div>
    <h2> Location on Map</h2>
    <div class="location">
    <app-problem-location></app-problem-location>
    </div>
</main>
