main{
    display:flex;
    flex-direction:column;
    width: 100%;
    justify-content: space-between;
}
.details{
    color:var(--color);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding:20px;
    align-items: center;
    margin:20px 10px;
}
.location{
    background-color:white;
    height:500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius:20px;
    margin:20px 10px;
}

h2{
  margin: 5px;
  color:var(--color);
  font-size: medium;
  padding:10px;
}

.details-body-right{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    margin:10px;
    border-radius:20px;
    box-shadow:var(--box-shadow);
    margin-left:10px;

}
.details-body-left{
  background-color: white;
  width:50%;
}
.details-body{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:100%;
    margin:10px;
    border-radius:20px;
    box-shadow:var(--box-shadow);
    margin-left:10px;
}
img{
  border-radius:20px;
  box-shadow: --box-shadow;
  width:100%;

}
.details-body-right{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
    margin:10px;
    border-radius:20px;
    box-shadow:var(--box-shadow);
    margin-left:10px;
  flex-direction:flex-start;
}
