<main>
    <div class="details">
        <div class="details-header">
            <h2>Problem Details</h2>
        </div>
        <div class="details-body">
            <div class="details-body-left">
                <div class="details-body-left-image">
                    <img src="{{ problem.imageSrc }}" alt="Problem Image">
                </div>
                <div class="details-body-left-description">
                    <p>{{ problem.description }}</p>
                </div>
            </div>
            <div class="details-body-right">
                <div class="details-body-right-status">
                    <p>Status: {{ problem.status }}</p>
                </div>
                <div class="details-body-right-reported-by">
                    <p>Reported By: {{ problem.reportedBy?.name }}</p>
                </div>
                <div class="details-body-right-reported-by">
                  <p>Contacts: {{ problem.reportedBy?.phoneNumber }}</p>
              </div>
                <div class="details-body-right-reported-at">
                    <p>Reported At: {{ problem.reportedAt }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="location">
    <app-problem-location></app-problem-location>
    </div>
</main>
