main{
    display:flex;
    flex-direction:row;
    width: 100%;
    justify-content: space-between;
}
.details{
    color:var(--color);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding:20px;
    align-items: center;
}
.location{
    background-color:white;
    width:500px;
    height:500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
    border-radius:20px;
}
