/* You can add global styles to this file, and also import other style files */



html, body { height: 100vh;width:100vw;  background-color: #D5D9E2;
--background-color: #D5D9E2;
--color: #00008B;
--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);




 }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif;


}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
