form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  textarea,
  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .downer{
    display: flex;
    flex-direction: row;
    margin:20px 0;
    margin-bottom: 10px !important;
    background-color: white;
}
.downer>button{
    align-self:flex-end;
    background-color: white;
    border:1px solid #884A39;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}


.image-upload input[type="file"] {
    display: none;
  }

.iconer{
    background-color: white;
    font-size: 26px;
    color: var(--color)
}
.image-upload{
    background-color: white;
    margin-right: 10px;
}
.downer{
    background-color: white;
}
.image-preview>img{
    width: 300px;
    height:300px;
}