<main>
    <div class="header">Welcome, Enter Problem Details</div>
    <div class="form">
      <form [formGroup]="problemForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Location" formControlName="location">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Reporter" formControlName="reporter">
        </mat-form-field>
        <mat-form-field>
          <input type="file" (change)="onImageSelected($event)" accept="image/*">
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview">
        </mat-form-field>
        <mat-form-field appearance="fill" [hidden]="true">
          <input matInput placeholder="Status" formControlName="status" [value]="defaultStatus">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
  </main>
  